#banner
	.banner_content
		%h1 Episodic Forum
		%button.btn.btn-default= link_to "Sign Up", new_user_registration_path

#testimonial
	.wrapper
		%p.quote "Game Of Thrones Is The Best TV Show Ever. Period!"
		%p.name - Joshua Munene

#callouts
	.callout_inner
		.wrapper
			-# .callout
			-# 	%i.fa.fa-github
			-# 	%h2 Thundercat
			-# 	%p The design and simplicity of this website makes it hugely easy to write my scribbles.
			-# .callout
			-# 	%i.fa.fa-rebel
			-# 	%h2 Silverhawk
			-# 	%p The design and simplicity of this website makes it hugely easy to write my scribbles.
			-# .callout
			-# 	%i.fa.fa-drupal
			-# 	%h2 C.O.P.S.
			-# 	%p The design and simplicity of this website makes it hugely easy to write my scribbles.

#bottom_cta
	.wrapper
		%h2 Scribble Away!
		%p Sign up now and start scribbling!
		%button.btn.btn-default= link_to "Click Here", new_user_registration_path

%footer
	%p &copy; Joshua Munene
